.cool-box {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000;
}

header {
    background-color: green;
}

main {
    color: white;
    background-color: blue;
}

footer {
    color: white;
    background-color: red;
}
